@font-face {
    font-family: "Kiwi Maru";
    src: url("../fonts/KiwiMaru-Regular.ttf");
}

@font-face {
    font-family: "RockWell";
    src: url("../fonts/rockwell.ttf");
}

@font-face {
    font-family: "Iosevka Term Slab";
    src: url("../fonts/iosevka-term-slab-extended.woff2");
}

@font-face {
    font-family: "Nunito SemiBold";
    src: url("../fonts/Nunito-SemiBold.ttf");
}